.App {
  text-align: center;
}

.App-headerDark {
  background-color: #01050e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 10px;
}

.App-headerLight {
  background-color: #f3ec8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 15, 15);
}
